.default {
    margin: 5px;
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 5%;
    cursor: pointer;
}
.default:hover {
    background-color: #3a4b97;
}
.default:active {
   background-color: #3F51B5;
}
.default:disabled {
    cursor: default;
    background-color: gray;
}
.red:hover {
    background-color: #c20c06;
}


.red {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    background-color: #df0c06;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 5%;

}
